* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #e5e5e5;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.custom-logo-link {
  display: block;
  flex: 0 0 192px;
}

.header__nav {
  flex: 0 1 auto;
}

.header__nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.header__nav > ul > li {
  list-style: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all .3s ease
}

.header__nav > ul > li:hover {
  color: rgba(0, 0, 0, 1);
}

.header__nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

.burger {
  display: none;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 24px;
}

.burger::before, .burger::after, .burger > span {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: .3s transform ease;
  transform-origin: center;
}

.burger > span {
  top: 10px;
}

.burger::after {
  top: 22px;
}

.burger.active::before {
  transform: rotate(45deg) translate(5px, 13px);
}

.burger.active > span {
  transform: scale(0);
}

.burger.active::after {
  transform: rotate(-45deg) translate(0px, -11px);
}

@media screen and (max-width: 860px) {
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
}